*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*////////////////////////////Nav-bar*/
.logo{
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    font-size: 30px;
}
.logo span{
   color: #06a3ae;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #8dd7de;
    border-bottom: 1px solid #00bac6;
}
.header-top nav a{
    color: #c1c1c1;
    font-size: 1.5rem;
}
.header-top nav a:hover{
    color: #ffffff;
    font-size: 1.5rem;
}
/*////////////////////////////Slider*/
.carousel-inner img{
    height: 40rem;
}
.slider-content{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 45%;
    z-index: 99;
    color: #ffffff;
    margin-left: -25%;
    text-align: center;
}
.carousel-indicators li{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.carousel-control-prev span img{
    width: 70px;
    height: 70px;
    color: #ffffff;
}
.carousel-control-next span img{
    width: 70px;
    height: 70px;
    color: #ffffff;
}
/*////////////////////////////Services*/
.services i{
    font-size: 7rem;
}
.services h2, .services p{
    color: #818181;
}
.services h2 > span{
    color: #464545;
    font-weight: bold;
}
.services li, .services li a{
    text-align: center;
    color: #cacaca;
    text-decoration: none;
}
.services li, .services li a h3 {
    color: #818181;
}
.services li, .services li a p {
    color: #818181;
    margin-bottom: 3rem;
}
.services li, .services li a h3 > strong{
    color: #7b7b7b;
}
.services li, .services li a i.active{
    color:#00bac6;
    margin-top: 3rem;
}
.services li, .services li a i:hover{
    color:#00bac6;
    margin-top: 3rem;
}
.arrow-up{
    background: #eeeeee;
    padding: 20px;
    position: relative;
}
.arrow-up::before {
    display: block;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -40px;
    content: "";
    border: 40px solid transparent;
    border-bottom: 60px solid #eeeeee;
    border-top: 0;
}
.content{
    background-color: #eeeeee;
    padding: 1rem;
}
.content h4{
    font-size: 18px;
    color: #7c7b7b;
    font-weight: bold;
    padding: 0;
}
.content p{
    font-size: 14px;
    color: #9a9a9a;
    padding: 0 ;
}
.content img{
    border: 1px solid #7c7b7b;
    width: 350px;
    height: 200px;
}
.content .contents{
    border: 1px solid #c5c5c5;
    padding: 0;
    margin-bottom: 20px;
}
/*////////////////////////////Footer*/
/*///////Post*/
.large-footer{
    background-color: #4c4f53;
    color: #ffffff;
}
.large-footer h2{
    font-size: 25px;
}
.large-footer .post a{
    text-decoration: none;
    font-size: 16px;
    color: #c0c0c0;
}
.large-footer .post a:hover{
    text-decoration: none;
    color: #0daeb9;
}
.large-footer .post time{
    color: #898989;
}
.large-footer .post i{
    color: #0daeb9;
}
.large-footer .post hr{
    background-color: #7b7a7a
}
/*///////Tag*/
.large-footer .tag p{
    color: #c1c1c1;
}
.large-footer .tag span{
    color: #ffffff;
    font-size: 22px;
}
/*///////About*/
.large-footer .about p{
    color: #c1c1c1;
}
/*///////Get In Touch*/
.large-footer .touch p{
    color: #c1c1c1;
}
.large-footer .touch i{
    color: #00bac6;
}
.large-footer .touch .phone{
    transform: rotate(90deg);
}
/*///////Copy Right*/
.copy-right{
    background-color: #272620;
    color: #999999;
}
.copy-right nav a{
    color: #c1c1c1;
    font-size: 1.5rem;
}
.copy-right-top nav a:hover{
    color: #ffffff;
    font-size: 1.5rem;
}